body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://www.holifestival.org/images/holi-banner.jpg');
    background-size: cover;
  }
  
  .invitation-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: #ccc 2px 2px 10px;
  }
  
  h1, h2 {
    color: #800f00;
  }
  p {
    color: True Gray;
    text-shadow: #cecece 1px 1px 1px;
    font-weight: 600;
  }

  ul {
    padding: 10px;
  }
  
  button {
    background-color: #800f00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: Gold;
  }
  